    <footer>
      <h5>
        Nhóm 6 <br>
        Lê Hoàng Minh - Phạm Công Huy - Trần Quốc Sơn - Phạm Thanh Lâm - Đào Công Nhật Tân
      </h5>
      
      <img src="http://ceday.uit.edu.vn/wp-content/uploads/2020/07/cropped-LOGO-CE-stroke-v2.png"/>
      <img src="https://tuoitre.uit.edu.vn/wp-content/uploads/2015/07/logo-uit.png"/>
    </footer>