<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RFID Attendance System</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="main-page">
        {{>header}}

        <div style="text-align: center; padding-top: 20px">

        <label for="select" style="font-weight: bold">Chọn lớp điểm danh:</label>
        <select id="select">
            <option value="">Chọn lớp</option>
        </select>
      </div>

      <table style="width: 90%">
        <thead>
          <tr>
            <th>STT</th>
            <th>MSSV</th> 
            <th>Thời gian</th>
          </tr>
        </thead>
        <colgroup width="10%"></colgroup>
        <colgroup width="45%"></colgroup>
        <colgroup width="45%"></colgroup>
        <script src="/js/index.js"></script>
        <tbody id="tbody"></tbody>
      </table>
    </div>

    {{>footer}}

  </body>
</html>
